{
  "extends": "eslint-config-egg",
  "rules": {
    "no-console": "off",
    "no-magic-numbers": "off",
    "generator-star-spacing": "off",
    "prefer-template": "off",
    "max-len": "off",
    "dot-notation": "off"
  }
}
